/*BACKGROUND*/

body {
    height: 100%;
    background: linear-gradient(90deg, #000000 50%, #ffffff 50%);
}

/*IMAGES*/
.col img {
    width: 100%;
    margin-left: 0.5%;
}

.top img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item1 img {
    width: 500px;

}

.item4 img {
    width: 500px;
}

/*WEB*/


/*TEXT*/
.box p {
    width: 60px;
    height: 40px;
    color: white;
}

.box {
    background-color: green;
}

/* GRID */
.item1 {
    grid-area: left;
    background-color: darkslateblue;
    max-width: 500px;
    margin-left: auto;
}

.item1 img {
    width: 100%;
    box-shadow:
}


.item2 {
    grid-area: right;
    align-self: center;
    min-width: 50%;
    margin-right: auto;
    text-align: left;
    max-width: 600px;
}



.item2 h1 {
    text-align: left;
    font-size: 2rem;
    vertical-align: top;
    font-family: 'Arial', serif;
}

.item2 p {
    text-align: left;
    margin-top: -20px;
    font-size: 1.1rem;
    font-family: 'Arial', serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'left right';
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}


.grid-container > div {
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

/*GRID-CONTAINER1*/

.item3 {
    grid-area: left;
    background-color: darkslateblue;
    max-width: 500px;
    margin-left: auto;
}

.item3 img {
    width: 100%;
    box-shadow:
}


.item4 {
    grid-area: right;
    align-self: center;
    min-width: 50%;
    margin-right: auto;
    text-align: left;
    max-width: 600px;
}



.item4 h1 {
    text-align: left;
    font-size: 2rem;
    vertical-align: top;
    font-family: 'Arial', serif;
}

.item4 p {
    text-align: left;
    margin-top: -20px;
    font-size: 1.1rem;
    font-family: 'Arial', serif;
}

.grid-container1 {
    display: grid;
    grid-template-areas:
        'left right';
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}


.grid-container1 > div {
    text-align: center;
    padding: 15px;
    font-size: 30px;
}


/*MENU*/
/*IKKE KODE UNDER MENU*/

header nav {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: .2rem;
    font-family: sans-serif;
    padding: 6px;
    background-color: #505050;
    border-radius: 10px;
}

header nav a:last-child {
    border-right: 2px solid;
    margin: 2px;
    padding: 2px;
}

header nav a:link {
    color: antiquewhite;
    text-decoration: none;
}

/*visited link*/
header nav a:visited {
    color: #ffffff;
    text-decoration: none;

}

/*mouse over link*/
header nav a:hover {
    color: cadetblue;
    text-decoration: none;
}

/*selected link*/

header nav a:active {
    color: dodgerblue;
    text-decoration: none;
}

/*MENUKNAP*/

.hidden {
    transform: scale(0.5);
    transform: translate(1%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .5s;
    transform-origin: top right;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translate(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

@media (max-width: 800px) {
    .grid-container {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "left"
            "right";
    }

    .item1 {
        max-width: 100%;
    }

    .item2 {
        margin-top: -40px;
        background-color: white;
    }
}

/*WEB*/
