/*BACKGROUND*/

body {
    height: 100%;
    background: linear-gradient(90deg, #000000 50%, #ffffff 50%);
}

/*IMAGES START - top images */
.col img {
    width: 100%;
    margin-left: 0.55%;
}

.billede img {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* IMAGES END */

/* GRID START */
.grid-container {
    display: grid;
    grid-template-areas:
        'left right';
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* GRID LEFT SIDE */
.left {
    grid-area: left;
    background-color: darkslateblue;
    max-width: 500px;
    margin-left: auto;
    padding: 10px;
}

.left img {
    width: 100%;
}


/* GRID RIGHT SIDE */
.right {
    grid-area: right;
    align-self: center;
    min-width: 50%;
    margin-right: auto;
    text-align: left;
    max-width: 600px;
    text-align: center;
    font-family: 'Arial', serif;
}


.right h1 {
    text-align: left;
    font-size: 2rem;
    vertical-align: top;
}

.right p {
    text-align: left;
    margin-top: -20px;
    font-size: 1.1rem;
}

.right ul {
    text-align: left;
    margin-top: -20px;
    font-size: 1.1rem;
}

/* GRID END */

/* MENU START */
/* IKKE KODE UNDER MENU*/

header nav {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: .2rem;
    font-family: sans-serif;
    padding: 6px;
    background-color: rgba(80, 80, 80, 0.85);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}

header nav a:last-child {
    border-right: 2px solid;
    margin: 2px;
    padding: 2px;
}

header nav a:link {
    color: antiquewhite;
    text-decoration: none;
}

/*visited link*/
header nav a:visited {
    color: #ffffff;
    text-decoration: none;

}

/*mouse over link*/
header nav a:hover {
    color: cadetblue;
    text-decoration: none;
}

/*selected link*/

header nav a:active {
    color: dodgerblue;
    text-decoration: none;
}

/*MENUKNAP*/

.hidden {
    transform: scale(0.5);
    transform: translate(1%);
    opacity: 0;
    height: 10px;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .5s;
    transform-origin: top right;
}

/* MENU END */

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translate(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translate(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

@media (max-width: 800px) {
    .grid-container {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "left"
            "right";
    }

    .left {
        max-width: 100%;
    }

    .right {
        margin-top: -40px;
        background-color: white;
        padding: 10px;
    }

    .right ul {
        margin-top: 10px;
    }
}
